@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-form{
    background: rgb(255,255,255);
background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(43, 153, 217, 0.532) 100%);
}

.girdquesoreceta{
    display: grid;
    grid-template-columns: 40% 60%;
}
